/* mixins.scss */

@mixin standard-input-hover {
  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}

@mixin standard-input {
  font-size: var(--text-large);
  background-color: white;
  border: var(--border-black);
  border-radius: var(--border-radius-standard);
  padding: 4px 10px;

  @include standard-input-hover;
}
